* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: white;
}

main {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}