
body {
    overflow-x: hidden;
    background-color: white;

    background-size: cover;
    background-repeat: repeat;
}

main {
    margin: 0;
    
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header a.active{
    color: red;
}

.sidebar a.active{
    background-color: grey;
}