@import url(https://cdn.jsdelivr.net/gh/satouriko/LxgwWenKai_Webfonts@v1.101/dist/LXGWWenKai-Regular.css);
@import url(https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.css);

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --grayish-blue: hsl(212, 23%, 69%);
    --white: hsl(0, 0%, 100%);
    --grey-0: #fff;
    --grey-1: #fdfdfd;
    --grey-2: #f7f7f7;
    --grey-3: #eff2f3;
    --grey-4: #ccc;
    --grey-5: #999;
    --grey-6: #666;
    --grey-7: #333;
    --grey-8: #222;
    --grey-9: #000;
    --color-pink-light: #ffe6fa;
    --color-cyan-light: #e3fdf5;
    --color-red: #e9546b;
    --color-pink: #ed6ea0;
    --color-orange: #ec8c69;
    --color-yellow: #eab700;
    --color-green: #0a7426;
    --color-aqua: #3e999f;
    --color-blue: #38a1db;
    --color-purple: #9d5b8b;
    --color-grey: #869194;
}

* {
    margin: 0;
    padding: 0;
}

*::-moz-selection {
    background: #00c4b6;
    color: #f7f7f7;
}

*::selection {
    background: #00c4b6;
    color: #f7f7f7;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: linear-gradient(135deg, rgba(109, 186, 130, 0.1) 0, rgba(7, 179, 155, 0.1) 15%, rgba(16, 152, 173, 0.1) 30%, rgba(80, 115, 184, 0.1) 44%, rgba(161, 102, 171, 0.1) 58%, rgba(239, 78, 123, 0.1) 72%, rgba(243, 112, 85, 0.1) 86%, rgba(247, 149, 51, 0.1) 100%);
    background-size: cover;
    background-repeat: repeat;
    cursor: url(../images/default.cur), default;
}

main {
    margin: 0;
    padding: 0;
}

a,
img {
    cursor: url(../images/pointer.cur), pointer;
}

/*导航栏*/
header a.active {
    color: #49b1f5;
}

header {
    position: sticky;
    z-index: 99;
    top: 0px;
    width: 100%;
    font-size: 17px;
    background: rgba(255, 255, 255, 80%);
    box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.6);
}

header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header li {
    padding: 0 25px;
}

header a {
    display: inline-block;
    padding: 17px 10px 17px 10px;
    color: #99a9bf;
    font-family: "SimHei";
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 80%);
    transition: all 0.3s linear;
}

header a.active {
    color: #49b1f5;
    border-bottom: 2px solid #49b1f5;
}

header a:hover {
    color: #49b1f5;
    border-bottom: 2px solid #49b1f5;
    transition: all 0.3s linear;
}

header img {
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 0px;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: center;
        height: 57px;
        position: relative;
    }

    header span {
        visibility: hidden;
    }

    header a {
        height: 50%;
    }
}

/*页脚*/
footer {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: saturate(100%) blur(5px);
    color: var(--grey-5);
}

.top-box {
    padding: 20px;
}

.top-box .top1 {
    display: block;
    height: 160px;
    width: 40%;
    padding: 1%;
    margin: 0px;
    position: relative;
    left: 0%;
    background-color: #fef9e7;
    border-radius: 10px;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    transition: all 0.2s;
    color: black;
    font-size: 1.1em;
    font-weight: normal;
    font-family: LXGWWenKai, sans-serif;
    text-align: left;
    overflow: hidden;
}

.top-box .top1 span {
    font-size: 1.1em;
    font-weight: bold;
}

.top-box .top1 p {
    position: relative;
    text-align: left;
    padding-left: 7%;
}

.top-box .top2 {
    height: 160px;
    width: 56%;
    padding: 1%;
    left: 2%;
    position: relative;
    border-radius: 10px;
    background-image: url(../images/top2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #e0eafc;
    background-color: -webkit-linear-gradient(to right, rgb(224, 234, 252), rgb(207, 222, 243));
    background-color: linear-gradient(to right, rgb(224, 234, 252), rgb(207, 222, 243));
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    transition: all 0.2s;
    color: black;
    font-size: 1.8em;
    font-weight: normal;
    font-family: LXGWWenKai, sans-serif;
    text-align: left;
    transition: all 0.2s;
    overflow: hidden;
}

.top-box .top1:hover,
.top2:hover {
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
    transition: all 0.2s;
    transform: scale(1.1)
}

@media screen and (max-width: 768px) {
    .top-box {
        font-size: 50%;
    }
}


/*首页书籍展示框*/
.book {
    display: block;
    width: 160px;
    height: 250px;
    margin: 5px 30px 5px 30px;
    padding: auto;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    float: left;
    color: var(--very-dark-grayish-blue);
    transition: all 0.4s;
}

/*书籍封面图片*/
.book img {
    width: 160px;
    height: 230px;
    border-radius: 5px;
    float: left;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06)
}

/*书籍悬浮上升效果*/
.book:hover {
    position: relative;
    transform: translateY(-7px);
    transition: all 0.4s;
}

.book img:hover {
    transition: all 0.3s;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15)
}

/*首页栏目名*/
#recommendation {
    color: #4C4948;
    font-size: 1.5em;
    font-family: Mulish, 'Noto Serif SC', 'Noto Serif JP', Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
    text-align: left;
    margin: 10px 10px 10px 25px;
}

#column {
    color: #4C4948;
    font-size: 1.5em;
    font-family: Mulish, 'Noto Serif SC', 'Noto Serif JP', Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
    text-align: left;
    margin: 10px 10px 10px 20px;
}

/*书名*/
.book h2 {
    width: 160px;
    height: 20px;
    text-align: left;
    font-size: 15px;
    font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
}

/*文章卡片*/
.article-card {
    position: relative;
    left: 10px;
    cursor: url(../images/pointer.cur), pointer;
    display: grid;
    grid-template-columns: 200px minmax(300px, 445px);
    grid-template-rows: 150px;
    margin: 20px 10px 20px 0;
    max-width: 550px;
    border-radius: 10px;
    box-shadow:
        6px 6px 5px hsla(0, 0%, 0%, 0.02),
        25px 25px 20px hsla(0, 0%, 0%, 0.03),
        100px 100px 80px hsla(0, 0%, 0%, 0.05);
    transition: all 0.4s;
}

.img-box {
    padding: 10px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    background-color: white;
}

.img-box img {
    border-radius: 5px;
}

.article-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.article-content {
    background: white;
    padding: 10px 20px;
    border-radius: 0 10px 10px 0;

}

.article-title {
    font-size: 17px;
    color: var(--very-dark-grayish-blue);
    margin-bottom: 20px;
    line-height: 1.4;
}

.article-text {
    color: var(--desaturated-dark-blue);
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.article-card:hover {
    position: relative;
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15)
}

@media screen and (max-width: 768px) {
    .article-card {
        margin: 10px auto;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 380px;
    }

    .img-box,
    .article-content {
        flex: 1;
        border-radius: 5px;
    }

    .img-box {
        height: 180px;
        border-radius: 5px 5px 0 0;
    }

    .article-content {
        padding: 30px 28px 20px;
    }

    .article-title {
        font-size: 15px;
    }

    .article-text {
        margin-bottom: 30px;
    }
}

.more {
    text-align: center;
    text-decoration: none;
    color: var(--desaturated-dark-blue);
    cursor: url(../images/pointer.cur), pointer;
}

/*子页面盒子*/
.sub-box {
    display: grid;
    grid-template-columns: 3fr 7fr;
    margin: 50px;
}

/*侧边栏*/
.sidebar {
    width: 80%;
    height: 600px;
    margin: 0 0 0 10%;
    padding: 0;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    transition: all 0.3s;
    font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar a {
    display: block;
    padding: 15px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    color: var(--grey-6);
    font-size: 20px;
    transition: all 0.1s linear;
}

.sidebar:hover {
    transition: all 0.3s;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
}

.sidebar a:hover {
    background-color: rgb(215, 215, 215);
    font-size: 1.2em;
    transform: scale(1.2);
    transition: all 0.3s linear;
}

.sidebar a.active {
    color: var(--grey-0);
    background: #36d1dc;
    background: -webkit-linear-gradient(to right, rgb(54, 209, 220), rgb(91, 134, 229));
    background: linear-gradient(to right, rgb(54, 209, 220), rgb(91, 134, 229));
}

/*子页面书籍框*/
.book-box {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}

/*书籍信息*/
.content {
    width: 90%;
    padding: 4%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    transition: all 0.2s;
    font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.content .info {
    display: flex;
}

.content div {
    padding: 10px;
}

.content:hover {
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
    transition: all 0.2s;
}

.content a {
    color: #00C4B6;
}

/*文章*/
.article {
    width: 80%;
    padding: 4%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    transition: all 0.2s;
    font-size: 1.2em;
    font-family: LXGWWenKai, Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.article p {
    line-height: 2.5;
    text-align: justify;
}

.article .img {
    text-align: center;
}

.article img {
    width: 50%;
    padding: 2%;
}

.article:hover {
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
    transition: all 0.2s;
}

.about-box {
    display: flex;
    justify-content: center;
}

.about {
    width: 80%;
    height: 700px;
    margin: 50px;
    padding: 5%;
    background-color: rgba(255, 255, 255, 60%);
    background-image: url(../images/bg.png);
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.06);
    transition: all 0.3s;
    color: var(--grey-8);
    font-size: 1.2em;
    font-weight: 600;
    font-family: LXGWWenKai, Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
}

.about-content {
    width: 50%;
    height: 100%;
}

.about:hover {
    transition: all 0.3s;
    box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.15);
}