/*主页书籍展示框*/
.book {
    width: 160px;
    height: 250px;
    margin: 5px 30px 5px 30px;
    padding: auto;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    float: left;
}

/*书籍封面图片*/
.book img {
    width: 160px;
    height: 230px;
    border-radius: 5px;
    float: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);

}

/*书籍悬浮上升效果*/
.book:hover {
    position: relative;
    transform: translateY(-5px);
    transition: all 0.5s;
}

.sub-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;
}

/*侧边栏*/
.sidebar {
    width: 20%;
    margin: 0px auto;
    margin: 0;
    padding: 0;
    background-color: floralwhite;
    border-radius: 10px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sidebar a {
    display: block;
    padding: 15px 16px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 20px;
}

.sidebar a.active {
    background-color: grey;
}

/*书籍框*/
.book-box {
    width: 70%;
    margin: 10px;
    padding: 10px;
}

/*书籍信息*/
.content {
    width: 70%;
    margin: 10px;
    padding: 10px;
}

.content .info{
    height: 200px;
}

.content img{
    float: left;
}